.count-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.count-cont h1{
    font-size: 54px;
}

button{
    vertical-align: center;
}

h1{
    margin-top: -19px;
    margin-left: 30px;
    margin-right: 30px;
}