

* {box-sizing:border-box;}    
body {font-family: 'Work Sans', sans-serif;} 

.video-holder {max-width:1100px;margin:auto;}    
.video-container {
position: relative;
padding-bottom: 56.25%;
margin:50px auto;
}
    .video-container img {cursor:pointer;}
.video-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.home-background {
background: radial-gradient(87.29% 87.29% at 43.41% -12.98%, #59AFFF 0%, #2D74E7 100%);
padding:0px 50px;
min-height: 100vh;    
} 
nav {display:flex;justify-content: space-between;padding:40px 50px;}
nav .navlinks a {color:#fff;font-size:16px;font-weight:700;text-transform: uppercase;margin-left:20px;transition:all .3s linear;}  
nav .navlinks a:hover {color:#10459b;}
@media screen and (max-width:768px){
    nav {padding:25px;}
}